////
// Basic HTML

$serif1: "goudy-bookletter-1911"
$sans1: "Myriad Pro"
$header-font: "raleway"
$mono: 'Bitstream Vera Sans Mono','Courier',monospace

$base-size: 16

$font-dark: #808190
$font-mid: #adabb4
$font-light: #c3c8d3
$font-red: #ae4e46
$font-dark-red: #8f322a


@function em($px)
  @return #{$px/$base-size}em

html
  font-size: 100%

body
  color: $font-dark
  font-family: $sans1
  font-size: #{$base-size}px
  font-weight: 500
  line-height: 24px

a, a:visited
  color: $font-red
  text-decoration: none
a:hover
  color: $font-dark-red

a:focus
  outline: 0

hr
  border: 0 #ccc solid
  border-top-width: 1px
  clear: both
  height: 0

////
// Headings

h1, h2, h3, p
  padding: 0
  margin: 0

h1
  color: $font-light
  display: block
  font-family: $header-font
  font-size: 48px
  font-style: normal
  font-weight: 100
  line-height: 24px
  padding-bottom: 36px
  padding-top: 24px

h2
  color: $font-red
  display: block
  font-family: $serif1
  font-size: 36px
  font-weight: normal
  line-height: 50px
  padding-bottom: 8px
  padding-top: 4px
  a, a:visited, a:hover
    color: $font-red
    font-style: none
    text-decoration: none
  a:hover
    color: $font-dark-red
  > a
    font-style: normal

h3
  color: $font-light
  font-family: $serif1
  font-size: 18px
  font-style: italic
  font-weight: 100
  line-height: 24px

h4
  font-size: 19px

h5
  font-size: 17px

h6
  font-size: 15px

p
  padding-bottom: 24px
  font-weight: 300
  a
    font-weight: 500

code
  font-family: $mono
  font-size: em(14)
  line-height: em(28)
  margin-top: em(-16)
  margin-bottom: em(-16)
  padding: em(16)

blockquote
  border-left: 4px solid $font-light
  color: $font-mid
  margin: 0 0 24px 0
  padding-left: 24px
  p
    padding-bottom: 0

pre
  font-size: 1em
  line-height: 1em
  padding-bottom: em(24)
  margin: 0

////
// Spacing

ol
  list-style: decimal

ul
  list-style: disc

li
  margin-left: 30px

@media screen and (max-width: 810px)
  .col-6
    width: 96%

@media screen and (max-width: 320px)
  .header
    font-size: 18px